@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1554949576074'); /* IE9 */
  src: url('iconfont.eot?t=1554949576074#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAA6MAAsAAAAAGpQAAA49AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCFBgqlIJ0aATYCJAM8CyAABCAFhG0HgUkboxWjooaSVvxkf3nAzYGLo3kSgVCFCtVWW1+jfqr9eu2GMN764bx/tzuRV8kYGHMMF5EpeP5d+7wvyXAmM0tAikitWrUKqSwMqv7jK3xtXW1ZEUggoXtMl/RFbGKtuEy634cLuZRAiLyUQr37pEBc4YLRwDc8buvfNtCNHGIl2Hj3ZzVK2jNmRIGRV2LdvMxEL/5VNGHeA/+1BOd7p6pr+S6xuk1gSNguEQpGANKvtPGdZEjY5gBjK3jb5/53zLTAjoTBHKFw9ybslE9SDBT+cUbccjpMD1Bt7IiFmVDNiFhObyfn3azZLGwzJoGKJkAQX0wr+rrrnSFATL1esvD08c1KGAQXbHBCElgp1ospKBVCv09c0RgpAI9Q3Yf1MB64v1/+sFcJFJ5GXHB9HwW7edDzgi5DF5sqCzi7U8DqaqCBXmBAXpPzn5L1Wa8rYsrM8RDUyvnT2u/yzDwLn7lnxVygdN+JF79rfkzJQMEcpDMTC4Va2X09ZfMjgqtmpPhYYmaskeDQu788HyEsy38cdfBdLI4rDYAIMgQQQKbgpKUDp5osBqdIlgPwIWsAWMgmADHkAAAFOQXAg9wEkECeoxkOfhQcT958yNQV6sEa5jcDgltM+K65a3sEaPw3Q3kosFBxSw3ZYoG8eddIJ7J7lZr1V56Hg3Kp2WbbhZP8CUeYfbxGDW/FuhS3bm0R3txSnUcTbr2Ku+rQWFZuazIIlbVb0a4fthhZNYee0jNKWtKyAEAtnoXSKZT0x5DCacK5GVLSL9q9LOX3QUjBR4g5KwrY7FqiZoC1qqkTdg3GkI6VUOo0tEUzVHMgRnaz/ZWKlcMw2cXhjqDzGroeFwWgXO9eoyftUhFK6tJRT8dAgYC8kUwIpXIBwHamlFgfBX0wADChB/zoTaAa078EpoDFcttQIkMhjdaxyvya40iuK9u2aFnfm0zwSPSHdZxnAaKQH5J9W/u6YMfusNeLGaNvaWlobKyJM/ltqW39wKzaG23yR4d2Zvtgh+VNWyW19p5R+8GOVftOr31l2t2VcovVpp3ZITF9vMcKJh2hHu58rB7WH3P3Ne/K8WT0QqTRF4lgBgfjwbQPt17IrO4A1sMvzvJI3xULxHjTTIQSvaHFRRa/TQif6gz1FhLCUpm46NjS1GGM5W6bk3QxQqyube9lqAh5zetxBAN4t8gnVhdfzE1I8xQvzFkI87e+V+WcNJIMti5rkqulrd0Ntu8CPiyxkS7LpHvXuIDjULCg5nBG1h+tCzS7u2w0w9RF22d/kNx6gS/AxIM9FkVhI77KHUTcKsSHLauwJJwJiWpAKo4uy/05wBnyIYqifgMA91Zqm4mQzhI29lYyaZp8rnzGqQCozsnk0fbyg1m+nFocde1A/+Pe3qS/rNoRt4FgEJZqv8LyqCv3D/u5dvu5bOv5siURskVKYcLeiruI1RmpcOMJ2/aiH5BuPhvLFCLmQbH5ZqpUyMPzUb4eTqDmvwKBQV+jLAPQs8ldT3JumoMdKwXrKleP0N1PitdXPf6O+/+/AJDFy+y9o27h84p/X5MlgUs6EidLP2wRap+PLZTj5oQ1nrVwTWQwRKeGA2uf/57Wc2p2ECOtZOQppwy8MET/M6ka6/n4gJeKDOrDARAd+ixb3rzZ8uhDrr0Lk0Pq8GSjg8qApM2ELj94xxAXM/lp95KZIhFmxBI+ymvC1m5YvnFTayzrfZEozO6wL2LfSWy7ZbJimdcSbgh2OJLjlKvDx0zyHeza+7Zhmjr7VoYlfK6K+zqbhF+GS+tnvsrY23H8a41z9sX4HHr1goxhEqlq9xClXdA4o8nfcClhI5kczwu69Ln4Tulxc5BAIn0u695mksoQF/N7+HPrXuZ0VU+kyZvakLrrnfXexEpG5/Vw+huNO9slsGfWRc926Vl1l5xzj7RmYC45sV3ASudRnZdz9YMtrbS2Cx/QtTnOiMZ4uQMQ8LPK2RKuKMljxjqg6q0UliKIhOIfaTuNKyTBxU9VBEsQ0vBTk6Vots0SBLrxupKBj87Ej1HP8xOfE/o4hOqcq69JvV84xd6R880UWK9mOQ9OUwaOz3cPZj6m5vrqJ8foztXCdd9flfc8nDN5aHbX0q/5+ZELnqoVv1w5WHjI8yV9qPDgqRl1mzQhdHlhOd3jOUR304c+7ibEU1547PH0kMEpxPR8g9BlRWUl+MFSBF6D88JcdpARMpl6ss2bYPsxL2uMyX7UC92PZcaoGsJm9dpeoeNks9cTQgAhceQdPMhzNMcFJARAFEyzmUy1mtxEchJYGGEznfnEJsKAGMP9oTZcgrdB6T3G003acPNjOZYOzbVJOko7uJg/w/zNeuwAJsX02HrJUcKocWwzOZrmyarAhWwT8Ov8IOP3H2OXHvz9ex7jz+/won/+JI/9FiM3rzCWMBbfvLnYwTpj4B/g5pX7OwyRR45EgsCuK5o3scDKGBRem9sTKy9MObvZ8GthyCh1ZtDcOiMno2lgxdC3ozZ+Cmd+iUr5v7lPgRnsrR2MK+zsaJvdWbRDr/XGkwt8isKV6gB+dJpsq+28LONYhd2SiznOGnlLXmlFem6LQivO4bHsFCu0fUVk90ffJ3T3zhZk1QvXDsljjhmsLhg+D6x99LW5hIRsI7b1N06uJlQ1lgMJfg5uRoevWN2c2vQjfPxEyzVaQrcQLXAu/cM0PqN18/McQYIvETPSeC/K0C1CZ4Zk5oTVmHXoFopufptHU7kTpheuE2XydIucbnaR3Hn2vRmpo7hx6J4O7MBbXA7RA3A5XEHTthc2CDKX0wMVe9MgrRaioDQsTYMpOCxJg6j/xUNR58Y0hKT4lM4jvY8lKMMo8doZ2srzJowE/dz7jCgFXNg/GpoA4/UxpTL7g9nINLgT6iqQwqBQ2LRGsru5NP90ojTjUrqXSF2UU8FNAcevZDUd42G8Y1c2zpIkBqIsnrVq0zjRRCZczs/wVEsxPygTbwR2ZhXAizkxzrnxngXTYXNmxbsGfzOMjQJyk0eqjoUabdXpnrXNe8fGNvuuX15jC9hYGJFxY4j5iI9xTb4OvfgvIwxjA7vs7evFm63Y/4r2Jqm4IXCVgHAaJoqFqzmkMqBVB08VGFPxg/HOmNQ/zX0HQJn41qw2MFZlyeZgICdalNN7FMWML/XqNwdyMBbXmhr7oe29rbgR+uFEqnuU39Njs5mOTmEbRgb2FA5X3wczjdC/Lc9u+ZcUCyA4IJEJ5PIWaRgwQmE8X57e8iW4VwrnvLd8tyWcFDH1TBGZoH06QJDMKxsW3jr+wnZ+8+JLZLa1emG/rjb20Npb73cOTqenpWSMaaiQ71LfXSPW2KgS6yaCkOLt8VlP31Kqz4hZF69yPeKq9EV8iQdSdTqjCd5EyC0h7UYLNSt4MhGXSsFBII3CLeplkhLtHwY8B3l0JM1OhE9btOcmp3DLJuvKIYnZptyyGfyW1TNbYWBcnt9iFe+5RBQgtvG0EQeI5ClfCOGJB2Vq10QubNhQLHVUwi9xZYUmJpoLngU+TIU0Gij1oblMU58KxfLqf1rNqxOxVRnCoMNTl/xQP4yKyzLfsUoj700Nbvrd+t78iMqysorYFTthV6/GJ8BviysCHaufRvH34ema6WYfpmThJ/smTxHVMNF1gnWoePykSfcY0gE9fWIMOzO67opursACXYev00a9zTMRiB8dUkaURmejFK3d7ttuPFKeiDvAPy+5h9Wk8sLXx3yIrlrUJtEGJj67EjDpmTxyO7OLsNLHEyNKT/+44Ibuw6n7FK66JirR/Tj1l6KH3TrlNBiV7u1yTCdc1jtWOO138ipnKsTDWhYNotQB/cH4aXoK33+QJGb39dMx9Fh6n1qobhgZeaZhV2J0LHTX/W5fn/1Q9Fjxo1jLCZ9OWzQLlWvH0nPNk80NIFvXMffosaaAU45pgYiAL1e2fXvi8nxqxw5DSz6T/LSeMgwz7PwETrtjp5wjg3wZDdSxow0wvyE+gMIsQFtuZUjC3KFWZNbp0zMRidUHRGap/Ev9istHlTXDlkCo0iHr18NdPupZyvyQhNxKmQAGsKCsuaTTO5fIDkW61q/vuqSAcnMhBSA3x54QhsyAVIo/UUEIshhgLweAmxal9Jt9nmpaBctHb+FzrTlgy+ARwLHmAm44T2D9b8uFd0S3ZjqRetLJtYnIontVhOk6j3XufBdMGOQjS8GYf0BoDbmL2PLKG94ixpUn7Edklb2DkZHaVRsRNoDVA/g5AB3WjUSh8jcyFuFU7u3WAL1cedlkZDg7XVX4N1FntSsqjynLnsdeOaLNf8WciZG/9/KV7OJrKfnP5rAPb06ddt3DOv6K0h2TreM3y7g5Bvz/N7V2i77M7KewtjSRng6OjhZmUvlXP1uxWO4Ev1UWF/s2nK+ssvNnkq8sRIqAOqQJac02+b3II2EU+YRMo5gey1dPKHFFFjER0O22hoTcI6RwPEGa3CsMjPyvyKPcP+STl0UxG3VvMKE9qtxHCAkKPl1ycox2zYGk4m34iTJVEEXdbsUvRjGt4rv9g8n4M2qMurhIPJN7SeJyNzIBf9LuDpUyPIyMj06y5SVJeLY9sEdddMsxAaswL4JAohoK3JZl10MOQ3P3nqikfv0nJKUUEBVMeej6C0VidPLckH6DFbKfha405VTMq2akPdeYcnErFDEC37fEFVIyYnAX9Ol8yJHYctAgFDozwDa3V1VsDe8LHnfBwzetePZMlGgx4okvgYQSSSyJWEnFSSY5yO9GKAazJNsoxh5oGaauTj6BLgukeyls7qYCDP3KFOjNnTE/Qm1TXRSkpQBdmSNNCUxCm9W5ERigrhWq/gMteOwP3bTYyUXyDmg/zQv696ig0ssWxBgAAA==') format('woff2'),
  url('iconfont.woff?t=1554949576074') format('woff'),
  url('iconfont.ttf?t=1554949576074') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1554949576074#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-scanit:before {
  content: "\e601";
}

.icon-shop:before {
  content: "\e62f";
}

.icon-time:before {
  content: "\e790";
}

.icon-phone-1:before {
  content: "\e60e";
}

.icon-my:before {
  content: "\e639";
}

.icon-people:before {
  content: "\e616";
}

.icon-order:before {
  content: "\e608";
}

.icon-phone:before {
  content: "\e60d";
}

.icon-wodemendian:before {
  content: "\e604";
}

.icon-inline-phone:before {
  content: "\e621";
}

.icon-tableware:before {
  content: "\e61b";
}

.icon-address:before {
  content: "\e612";
}

.icon-tall:before {
  content: "\e66f";
}

