// 自定义函数
.block-icon-bg(@bgcolor, @text) {
  background-color: @bgcolor;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  font-weight: 500;
  &:after {
    content: @text;
    font-size: 18px;
    color: white;
  }
}

.block-icon(@color, @text) {
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  border: 2px solid @color;
  font-weight: 500;

  &:after {
    content: @text;
    font-size: 18px;
    color: @color;
  }
}